* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}
.hero{
    background-color: #fff;
    padding: 100px;
}

.container {
    width: 1300px;
    margin: 0 auto;

}


.container .title {
    margin: 0 auto ;
    text-align: center;
    width: 647px;
    font-size: 48px;
}

.hero .wrapper {
    gap: 10px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}




.hero .cards {
    box-shadow: 0px 0px 10px rgba(156, 160, 172, 0.4);
    width: 310px;
    padding: 22px;
    border-radius: 10px;

}